.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  border-bottom: 2px solid #000;
}

.logo {
  height: 50px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #555;
}
